@charset "utf-8";
//Description.........................................
//
// 変数/関数を定義するscss
//
//.......................................................

// TextColor ==============
$Text-UltraLight: hsl(0, 0%, 80%);
$Text-Light: #707070;
$Text: #000;
$Text-Dark: #000;
$Text-UltraDark: #000;

// MainColor ==============
$Main-UltraLight: #000;
$Main-Light: #000;
$Main: #000;
$Main-Dark: #000;
$Main-UltraDark: #000;

// SubColor ==============
$Sub-UltraLight: #000;
$Sub-Light: #000;
$Sub: #000;
$Sub-Dark: #000;
$Sub-UltraDark: #000;

// AccentColor ==============
$Accent-UltraLight: #000;
$Accent-Light: #000;
$Accent: #000;
$Accent-Dark: rgb(231, 231, 231);
$Accent-UltraDark: #000;

// Border ==============
$Border-UltraLight: hsl(0, 0%, 95%);
$Border-MediumLight: hsl(0, 0%, 90%);
$Border-Light: hsl(0, 0%, 63%);
$Border: hsl(0, 0%, 40%);
$Border-Dark: hsl(0, 0%, 20%);
$Border-UltraDark: #000;

// Link ==============
$Link-Light: #000;
$Link: #912dff;
$Link-Dark: #000;

// Register ==============
$RegistrationProgress-Light: #f6fdff;

@mixin LinkGrad {
    background: $Link;
    background: linear-gradient(50deg, $Link 50%, #F22F91 100%);
}

// Success ==============
$Success: #0adf86;

// Success ==============
$Yellow: #ffbb00;

// Submit ==============
$Submit: #000;

// Error ==============
$Error: hsl(350, 90%, 58%);
$Error-Dark: #6e0e0e;

// BackGround ==============
$White-Light: rgb(248, 251, 251);
$White-Dark: rgb(239, 242, 242);
$White-UltraDark: rgb(242, 245, 245);

// $BackGround: #fff;

// Black ==============
$Black-UltraLight: rgb(35, 35, 35);
$Black-Light: rgb(29, 29, 29);
$Black-Medium: rgb(18, 18, 18);
$Black: rgb(0, 0, 0);

// Font family =============
$Font: 'Poppins', 'Kosugi', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
$Font-Sub: 'Bellefair', 'Kosugi', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;

$Transition: cubic-bezier(0.215, 0.61, 0.355, 1);
$TransitionMenu: cubic-bezier(1, 0, 0.75, 1);

//Description.........................................
//
// mixin でプロパティごと定義する
// 以下のように使用すればここで定義したプロパティが適用される
//
// @mixin justify {
//		text-align: justify;
//		word-break: break-all;
//  }
//
//	[scss]
// .hogehoge {
//		@include Justify;
// }
//
// [cssコンパイル結果]
// .hogehoge {
//		text-align: justify;
//		word-break: break-all;
// }
//.......................................................

// FontFamily =============
@mixin FontAuma {
    font-family: 'Auma';
    letter-spacing: -0.23em;
    text-indent: -0.2em;
}

@mixin FontBellefair {
    font-family: 'Bellefair';
    letter-spacing: -0.03em;
}

@mixin FontBellefairFontSize {
    font-size: 3rem;
    line-height: 1.1em;
}

@mixin FontAntonio {
    font-family: 'Antonio';
    line-height: 1;
    font-weight: 300;
    letter-spacing: -1px;
}

// FlexBox =============
@mixin Flex {
    //左右詰め
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@mixin Flex-Left {
    //左詰め
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

@mixin Flex-Right {
    //右詰め
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

@mixin Flex-Center {
    //中央寄せ
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@mixin Flex-2col($FlexColGap: 2rem) {
    width: calc((100% - #{$FlexColGap} * 1) / 2);
}

@mixin Flex-3col($FlexColGap: 2rem) {
    width: calc((100% - #{$FlexColGap} * 2) / 3);
}

@mixin Flex-4col($FlexColGap: 2rem) {
    width: calc((100% - #{$FlexColGap} * 3) / 4);
}

@mixin Flex-5col($FlexColGap: 2rem) {
    width: calc((100% - #{$FlexColGap} * 4) / 5);
}

@mixin Flex-10col($FlexColGap: 2rem) {
    width: calc((100% - #{$FlexColGap} * 9) / 10);
}


// Font Size ( type scale ) =============
@mixin FontSize-Special {
    font-size: 4rem;
    line-height: 1.3;
}

@mixin FontSize-Xxxl {
    font-size: 3rem;
    line-height: 1.5;
}

@mixin FontSize-Xxl {
    font-size: 2rem;
    line-height: 1.5;
}

@mixin FontSize-Xl {
    font-size: 1.5rem;
    line-height: 1.5;
}

@mixin FontSize-L {
    font-size: 1.25rem;
    line-height: 1.6;
}

@mixin FontSize-S {
    font-size: 0.9rem;
}

@mixin BackGroundText {
    font-size: clamp(10rem, 16vw, 16vw);
    letter-spacing: -0.5vw;
    line-height: 1;
    pointer-events: none;
}

// Line Height =============
@mixin LineHeight {
    line-height: 1.75;
}

// Line Height =============
@mixin LineHeight-L {
    line-height: 2.25;
}

// Text Stylet =============
@mixin Justify {
    text-align: justify;
    word-break: break-all;
}

//SvgIconSize - svg icon のサイズ =============
@mixin SvgIconSize {
    width: 27px;
    height: 27px;
}

//IconBtnSize - IconBtnのサイズ =============
@mixin IconBtnSize {
    width: 37px;
    height: 37px;
}

@mixin IconBtnSizeSmall {
    width: 31px;
    height: 31px;
}

//Ellipsis1 - 1行省略表示 =============
@mixin Ellipsis1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//MediaQuery ====================
$Bp-Mobile: 580px !default;
$Bp-7inch: 819px !default;
$Bp-11inch: 1100px !default;
$Bp-13inch: 1300px !default;
$Bp-15inch: 1500px !default;

// BrandList
$Bp-BrandList: 1400px !default;

//ButtonPadding ====================
@mixin ButtonPadding {
    padding: 9px 3rem 8px 3rem;
}

@mixin SectionInnerSize {
    width: 100%;
    max-width: 1380px;
    margin: auto;
}

@mixin SectionInnerSize-S {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

//1024pxInnerSize =============
@mixin px1024InnerSize {
    width: 100%;
    max-width: 768px;
    margin: auto;
}

// GlobalNavHeight =============
$GlobalNavHeight: 72px;

//Chevron =============
@mixin Chevron($ChevronBorder: $Border-UltraDark, $ChevronRotate: 45deg, $ChevronRight: 10px) {

    width: 7px;
    height: 7px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-color: $ChevronBorder;
    content: "";
    margin: auto;
    position: absolute;
    top: -4px;
    right: $ChevronRight;
    bottom: 0;
    transform: translate(0px) rotate($ChevronRotate);
    pointer-events: none;
    z-index: 10;
}

// GlobalSectionPaddingTop =============
@mixin GlobalSectionPadding {
    padding: 8rem 2rem;
}

@mixin GlobalSectionPaddingTop {
    padding-top: 8rem;
}

//PlusIcon ==================
@mixin PlusIcon($PlusIconColor: #fff) {

    &::after,
    &::before {
        width: 15px;
        height: 1px;
        background: $PlusIconColor;
        content: "";
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &::before {
        transform: rotate(90deg);
    }
}
