@charset "utf-8";
@use "../component/variable-end-user" as e;

//Description.........................................
//
// 基本的なリセットをするscss
//
//.......................................................
// Asterisk ====================

@font-face {
    font-family: "Auma";
    src:
        url("/fonts/Houstiq.woff2") format("woff2"),
        url("/fonts/Houstiq.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


*,
*:after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // cursor: none; TODO: 開発用に一旦コメントアウト
}

html {
    width: 100%;
    font-size: 13px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    width: 100%;
    color: e.$Text;
    font-weight: normal;
    font-family: e.$Font;
    overflow-x: hidden;
    @include e.LineHeight();
    letter-spacing: 1px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    // cursor: none; TODO: 開発用に一旦コメントアウト
}

// LINK ====================
a {
    text-decoration: none;
    outline: none;
}

a:focus {
    outline: none;
}

// IMG ====================
img {
    width: 100%;
    height: auto;
    border: none;
    vertical-align: middle;
}

svg {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

// hr ====================
hr {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

// h ====================
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0rem;
    margin: 0rem;
    font-size: 1rem;
    font-weight: normal;
    font-family: e.$Font;
    @include e.LineHeight();
}

// p ====================
p {
    padding: 0rem;
    margin: 0rem;
    @include e.LineHeight();
}

// div ====================
div {
    @include e.LineHeight();
}

// 構造タグ ====================
article,
aside,
details,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

// ul ====================
ul,
ol {
    list-style: none;
}

ul {
    font-size: 0;
}

ul li {
    font-size: 1rem;
    margin: 0rem;
    display: inline-block;
}

//iframe
iframe {
    vertical-align: bottom;
}

textarea {
    vertical-align: bottom;
}

// ============================================================
//
//  PLACEHOLDER
//
// ============================================================
::-webkit-input-placeholder {
    font-family: e.$Font;
    opacity: 0.35;
    color: e.$Text;
}

:-ms-input-placeholder {
    font-family: e.$Font;
    opacity: 0.35;
    color: e.$Text;
}

::-moz-placeholder {
    font-family: e.$Font;
    opacity: 0.35;
    color: e.$Text;
}

// ================================================================================================
//
// * SELECTION *
//
// ================================================================================================*/
::selection {
    background: e.$Main;
    /* 選択色 */
    color: #fff;
    /*文字色*/
}

::-moz-selection {
    background: e.$Main;
    /* 選択色 */
    color: #fff;
    /*文字色*/
}

// ============================================================
//
//  FORM
//
// ============================================================
// メインとなる入力要素のリセット ====================
input[type=text],
input[type=email],
input[type=number],
input[type=tel],
input[type=submit],
input[type=password],
input[type=search],
input[type=postal-code],
input[type=address-level1],
input[type=address-level2],
input[type=url],
textarea,
select {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: e.$Font;
    overflow-x: hidden;
    @include e.LineHeight();
    letter-spacing: 1px;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    width: auto;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: e.$Font;
    border: none;
    background: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button:disabled {
    pointer-events: none;
}

label {
    vertical-align: bottom;
}

// スピンボタン消す ====================
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// チェックボックスとラジオボタンのデフォルトの□や◯を消す ====================
input[type=checkbox],
input[type=radio],
input[type=file] {
    display: none;
}

// IEでセレクトボックスの矢印を消す ====================
select::-ms-expand {
    display: none;
}

pre {
    font-family: e.$Font;
    @include e.LineHeight();
    @include e.Justify;
    white-space: pre-line;
}